$blackColor: #333;
$whiteColor: #fff;

:root {
    --swiper-pagination-color: #333;
    --swiper-pagination-bottom: 0px;
}

.slide-show__container {
    width: 100%;
    // max-width: 1024px;
    position: relative;

    swiper-slide {
        height: 445px;
        transition: all 0.4s ease;

        .slide-show-item {
            position: relative;
            width: 100%;
            height: 400px;
            margin-top: 20px;
            border-radius: 10px;
            background-size: cover;
            background-position: center center;
            transition: all 0.3s ease;

            div {
                width: 100%;
                height: 100%;
                border-radius: 10px;
                transition: all 0.3s ease;
                color: $whiteColor;

                h1 {
                    position: absolute;
                    bottom: 100px;
                    left: 40px;
                    margin: 0px;
                    transition: all 0.3s ease;
                    cursor: default;
                }

                a {
                    position: absolute;
                    bottom: 0px;
                    font-size: 14px;
                    margin-left: 40px;
                    margin-bottom: 35px;
                    border: 0px;
                    border-radius: 5px;
                    transform: translateY(20%);
                    opacity: 0;
                    transition: all 0.2s ease;
                    color: #cdcdcd;
                }

                a:hover {
                    cursor: pointer;
                    color: $whiteColor;
                }
            }

            div:hover {
                backdrop-filter: blur(5px);
            }

            div:hover a {
                transform: translateY(0);
                opacity: 1;
                transition: all 0.2s ease;
            }
        }
    }

    .slide-show__button {
        position: absolute;
        top: 50%;
        font-size: 30px;
        line-height: 0;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 0px;
        transition: all 0.2s ease;
        cursor: pointer;
        color: $blackColor;
        background-color: $whiteColor;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
        z-index: 10;
    }

    .slide-show__button:hover {
        font-size: 36px;
        width: 47px;
        height: 47px;
    }

    .slide-show__button:disabled {
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
    }

    .slide-show__prev-button {
        transform: translate(-50%, -50%);
        left: 50px;
    }
    .slide-show__next-button {
        transform: translate(50%, -50%);
        right: 50px;
    }
}
