.nav-bar {
    font-size: 12px;
    line-height: 0px;
    width: 100%;
    position: sticky;
    top: 0;
    color: #ffffffd0;
    background-color: black;
    z-index: 100;
    .nav-bar__center {
        width: 100%;
        max-width: 1024px;
        display: flex;
        margin: auto;
        ul {
            width: 100%;
            margin: 0;
            display: flex;
            justify-content: space-around;
            list-style-type: none;
            a {
                height: 44px;
                display: flex;
                align-items: center;
                color: rgba(240, 248, 255, 0.8);
                text-decoration: none;
            }
            li:hover a {
                // text-decoration: none;
                // cursor: pointer;
                color: aliceblue;
            }
        }
    }
}

.icon-logo {
    width: 40px;
    margin-left: -10px;
    margin-right: -10px;
}

.icon-navbar {
    font-size: 14px;
    font-weight: 500;
}

.search-icon {
    padding-top: 2px;
}
